@color: #CCCCCC;
html,body,head {
    height: 100%
}
body,p {
    margin:0;
    padding:0;
}
.right-content{
    float:right;
    width:65%;
}
.left-content{
    height:100%;
    margin-right:35%;
    position:fixed;
    width:35%;
}

ul{
    list-style-type: none; 
    padding-left:1em;
    margin:0;
}

ul.div, .left-content, .right-content{
    margin:0;
}

#block{
    display:block;
    height:35em;
}

.block-one{
    background:@color;
}

.block-two{
    background:@color + #111;    
}

#suggestion-block{
    background:@color - #111;   
    height:20%;
    margin:40px;
    width:80%;
    p{
        padding:6px;
    }
}